body {
    margin: 20px;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: #ffcc99;
}

li {
    float: left;
    border-right: 1px solid #000000;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 20px 20px;
    font-family: "Century Gothic", sans-serif;
}

li a:hover {
    background-color: #ffc3f7;
}

.active {
    background-color: #a2e99a;
    font-weight: bold;
}

h1 {
    font-family: "Century Gothic", sans-serif;
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-family: "Century Gothic", sans-serif;
    font-size: 24px;
    text-decoration: underline;
}

div {
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

h3 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-column: 1 / 4;
}

@media screen and (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important;
    }
}