body {
    margin: 20px;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: #ffcc99;
}

li {
    float: left;
    border-right: 1px solid #000000;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 20px 20px;
    font-family: "Century Gothic", sans-serif;
}

li a:hover {
    background-color: #ffc3f7;
}

.active {
    background-color: #a2e99a;
    font-weight: bold;
}

h1 {
    font-family: "Century Gothic", sans-serif;
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-family: "Century Gothic", sans-serif;
    font-size: 24px;
    text-decoration: underline;
}

.bacondiv {
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.sagediv {
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.charlidiv {
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

.baconqdogtitle {
    grid-row: 1;
    grid-column: 1;
}

.baconqdogphotogallerytitle {
    grid-row: 1;
    grid-column: 2;
}

.baconimage {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 99%;
}

.baconbandanaimage {
    grid-row: 2;
    grid-column: 2;
    width: 95%;
}

.bacongraduationimage {
    grid-row: 2;
    grid-column: 3;
    width: 95%;
}

.baconagilityvideo {
    grid-row: 2;
    grid-column: 4;
    width: 50%;
}

.baconhalloweenimage {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
    width: 95%;
}

.baconptextone {
    grid-row: 3;
    grid-column: 1 / span 2;
}

.baconptexttwo {
    grid-row: 3;
    grid-column: 3 / span 2;
}

.baconlikestitle {
    grid-row: 4;
}

.baconlikeslist {
    grid-row: 5;
    grid-column: 1 / span 1;
}

.sagetitle {
    grid-row: 6;
    grid-column: 1;
}

.sagephotogallerytitle {
    grid-row: 6;
    grid-column: 2;
}

.sageimage {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 95%;
}

.sageclassicimage {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 95%;
}

.sagesleepimage {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 95%;
}

.sageyoungimage {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 5;
    width: 90%;
}

.sageptextone {
    grid-row: 8;
    grid-column: 1 / span 2;
}

.sagelikestitle {
    grid-row: 9;
}

.sagelikeslist {
    grid-row: 10;
    grid-column: 1 / span 1;
}

.charlititle {
    grid-row: 11;
    grid-column: 1;
}

.charliphotogallerytitle {
    grid-row: 11;
    grid-column: 2;
}

.charliboatimage {
    grid-row-start: 12;
    grid-row-end: 13;
    grid-column-end: 1;
    grid-column-end: 2;
    width: 90%;
}

.charlipuppyimage {
    grid-row-start: 13;
    grid-row-end: 14;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 90%;
}

.charlilayingimage {
    grid-row-start: 14;
    grid-row-end: 15;
    grid-column-start: 3;
    grid-row-end: 4;
    width: 90%;
}

.charliptextone {
    grid-row: 15;
    grid-column: 1 / span 2;
}

.charlilikestitle {
    grid-row: 16;
}

.charlilikeslist {
    grid-row: 17;
    grid-column: 1 / span 1;
}

.baconqdogbutton {
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}

@media screen and (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important;
    }
}

/* create a new media query based on what the width for the tablet view is */